<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>2048</title>
    <link href="css/2048.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--<h1>玩游戏请打开控制台</h1>-->

<div class="grid_2048">

        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>

        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>

        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>

        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>
        <div class="cell_2048"></div>

</div>

<div class="map_2048"></div>

</body>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/2048.js"></script>
</html>
