<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/heart.css"/>
</head>

<body>
<div id="navigation">
    <div class="inner navigation">

        <!-- Logo -->
        <div class="logo">
            <a class="scroll" href="#home"><img src="images/logo.png" height="48px" alt="Logo"/></a>
        </div>

        <!-- Nav Menu -->
        <nav class="nav-menu">
            <ul class="nav main-nav">
                <li class="active"><a class="scroll" href="#heart">heart</a></li>
                <li><a class="scroll" href="#about">About</a></li>
                <li><a class="scroll" href="#blog">Blog</a></li>
                <li><a class="scroll" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- End Navigation Section -->

<div class="clear"></div>

<div class="heart-description">

</div>
<div>
    ©2015 Sign By Selenium.
</div>
<!-- Heart Section -->
<div id="heart">
    <div class="container-fluid">
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-1.png" class="b-link-stripe b-animate-go   swipebox" title="">
                    <img class="img-responsive" src="images/heart-1.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left   b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">>> More</a></p>
        </div>
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-2.png" class="b-link-stripe b-animate-go   swipebox" title="">
                    <img class="img-responsive" src="images/heart-2.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left    b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">>> More</a></p>
        </div>
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-3.png" class="b-link-stripe b-animate-go   swipebox" title="">
                    <img class="img-responsive" src="images/heart-3.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left    b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">>> More</a></p>
        </div>
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-4.png" class="b-link-stripe b-animate-go   swipebox" title="">
                    <img class="img-responsive" src="images/heart-4.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left    b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">>> More</a></p>
        </div>
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-5.png" class="b-link-stripe b-animate-go   swipebox" title="">
                    <img class="img-responsive" src="images/heart-5.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left    b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">More</a></p>
        </div>
        <div class="col-md-2 humble-grids">
            <div class="content-left">
                <a href="images/heart-6.png" class="b-link-stripe b-animate-go swipebox" title="">
                    <img class="img-responsive" src="images/heart-6.png" alt="">

                    <div class="b-wrapper">
                        <h2 class="b-animate1 b-from-left b-delay03 ">
                            <img class="img-responsive" src="images/expand.png" alt="">
                        </h2>
                    </div>
                </a>
            </div>
            <p class="more"><a href="">More</a></p>
        </div>
    </div>
</div>
<!-- End Heart Section -->

<div class="clear"></div>
<!-- Footer Section -->
<div id="footer">
    ©2015 Sign By Selenium.
</div>
<!-- End Footer Section -->
<div>
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
            codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0">
        <param name=movie value="heart.swf">
        <param name=quality value=high>
        <embed src="/swf/heart1.swf" quality=high
               pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
               type="application/x-shockwave-flash">
        </embed>
    </object>
</div>
</body>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<script type="application/x-javascript">
    addEventListener("scroll", function () {
            var navHeight = $(window).height();
            if ($(window).scrollTop() > navHeight) {
                $('#navigation').addClass('fixed');
            }
            else {
                $('#navigation').removeClass('fixed');
            }
    }, false);

</script>
</html>

