<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>用户登录</title>
    <link href="css/login.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="login-form">
    <form class="form-info" id="id_form_in">
        <input id="username" placeholder="username" required="" type="text">
        <input id="password" placeholder="password" required="" type="password">
        <p><a href="#">Forgot password?</a></p>
        <input id="login" type="submit" value="Login">
        <input id="reset" type="button" value="Reset">
    </form>
</div>

<!-- Javascript -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>